@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #13253a;
}

@layer components {
  .common-entities {
    border: 1px solid black;
    padding: 2px;
    background-color: white;
  }
  /* ... */
}
